/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* @import "bootstrap"; */
 @import url('https://fonts.googleapis.com/css?family=Germania+One');

*
{
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6
{
  margin: 0px !important;
  padding:0px !important;
}


html, body
{
  width:100%;
  height:100%;
}

#header
{
  position: relative;
  height: 50px;
  width:100%;
  background-image: linear-gradient(45deg, #fdfbfb 0%, #d5dadb 100%);
}
#header img
{
  float: left;
  width: 110px;
  height: 110px;
  position: relative;
}

#header h1
{
  padding:10px;
  position: absolute;
  float:left;
  font-family: 'Germania One', cursive;
  font-size: 3em;
  color:rgb(30, 83, 182);
}

h1
{
  font-size: 2.5em;
  font-family: 'Germania One', cursive;
  color:rgb(30, 83, 182);
}

nav
{
  overflow: hidden;
  clear:both;
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%,
  rgba(41,137,216,1) 46%,
  rgba(32, 123, 202, 0.897) 68%,
  rgba(32, 123, 202, 0.918) 71%,
  rgba(125, 186, 232, 0.87) 100%);
  z-index: 1;
  padding: 5px;
}

nav ul li a, nav ul li a:active, nav ul li a:visited, nav ul li a:hover
{
  color: white;
}

nav ul li a:hover
{
  text-decoration: white underline;
}

#navbar ul
{
  vertical-align: middle;
  width:200px;
  position: relative;
  float:left;
  margin: 0px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 48px;
}

nav ul li
{
 display: inline-block;
 padding:5px;
}

.account
{
  float:right;
}
nav ul li:hover
{
  background-color: rgba(114, 202, 243, 0.432);
  box-shadow: 2px 2px rgba(10, 10, 10, 0.493)
}
a
{
  text-decoration: none;
}
a:hover, a:active, a:visited
{
  color:black;
}

a:hover
{
  text-decoration: black underline;
}
ul li
{
  list-style: none;
  text-decoration: none;
}

.account
{
  padding:10px;
  font-size: 10px;
}

.login_form
{
  margin: 10px;
  width: 230px;
  padding: 20px 10px;
  height: 275px;
  border: 1px rgba(64, 91, 241, 0.466) solid;
  border-radius: 95% 95% 80% 80%;

  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%,
   rgba(41,137,216,1) 46%,
   rgba(32,124,202,1) 68%,
   rgba(32,124,202,1) 71%,
   rgba(125,185,232,1) 100%);
}

.login_form
{
  margin:0px auto;
}

.login_form h2
{
  margin:0px auto;
  text-align: center;
}

.remember_me
{
  text-align: center;
  vertical-align: middle;
}

.remember_me
{
  margin: 0px auto;
  height: 25px;
  width: 110px;

}
#user_remember_me, .remember_me label
{
  float:left;
}

.actions
{
  clear:both;
  text-align: center;
}

.actions input
{
  padding: 5px;
  border-radius: 4px;
}

#user_email, #user_password, #user_password_confirmation, #user_current_password
{
  border-radius: 5px;
  line-height: 20px;

}

.login_form a, .field
{
  text-align: center;
  margin: 0px auto;
}

.shared_links_devise
{
  margin: 0px auto;
  text-align: center;
}

.search_bar
{
  position: relative;
  width: 25%;
  min-width: 150px;
  float:right;
  align-self: auto;
  top: 5px;
}
#search
{
  width: 65%;
}


.search_bar input
{
  border-radius: 4px;
}

#btnsearch
{
  border-radius: 6px 0px 6px 0px;
}

#btnsearch:hover
{
  box-shadow: 2px 3px rgba(10, 10, 10, 0.493);
}

.content
{
  padding:10px;
  margin-bottom: 25px;
}

.footer
{
  clear:both;
  bottom:0px;
  position: fixed;
  overflow: hidden;
  height: 25px;
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%,
   rgba(41,137,216,1) 46%,
   rgba(32,124,202,1) 68%,
   rgba(32,124,202,1) 71%,
   rgba(125,185,232,1) 100%);


   z-index: 1;
  width: 100%;
}

.well
{
  display:inline-block;
}

.shopping-cart
{
  text-align: center;
}

.cart-display
{
  float:right;
}