/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *
 {
   margin:0px;
   padding:0px;
 }
body
{
  background-color: rgb(60, 60, 60);
}

nav
{
  margin:5px;
  background-color: rgba(204, 85, 0, 0.664);
}

nav ul li
{
 display: inline-block;
 padding:5px;
}

#account
{
  float:right;
}
nav ul li:hover
{
  background-color: rgba(216, 119, 8, 0.651);
  box-shadow: 3px 3px rgba(10, 10, 10, 0.493)
}