/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

*
{
  margin: 0px;
  padding: 0px;
}

#header
{
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%,
  rgba(41,137,216,1) 46%,
  rgba(32, 123, 202, 0.603) 68%,
  rgba(32, 123, 202, 0.623) 71%,
  rgba(125, 186, 232, 0.61) 100%);

  position: relative;

  overflow: hidden;
  width:100%;
}
#header img
{
  float: left;
  width: 110px;
  height: 110px;
  position: relative;
}

#header h1
{
  padding:10px;
  position: relative;
  float:right;
}

nav
{
  background-color: rgba(23, 51, 206, 0.466);
  clear:both;
}

nav ul li
{
 display: inline-block;
 padding:5px;
}

.account
{
  float:right;
}
nav ul li:hover
{
  background-color: rgba(114, 202, 243, 0.432);
  box-shadow: 3px 3px rgba(10, 10, 10, 0.493)
}
a
{
  text-decoration: none;
}
a:hover, a:active, a:visited
{
  color:black;
}

a:hover
{
  text-decoration: black underline;
}


.login_form
{
  margin: 10px;
  width: 230px;
  padding: 20px 10px;
  height: 275px;
  border: 1px rgba(64, 91, 241, 0.466) solid;
  border-radius: 95% 95% 80% 80%;

  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%,
   rgba(41,137,216,1) 46%,
   rgba(32,124,202,1) 68%,
   rgba(32,124,202,1) 71%,
   rgba(125,185,232,1) 100%);
}

.login_form
{
  margin:0px auto;
}

.login_form h2
{
  margin:0px auto;
  text-align: center;
}

.remember_me
{
  text-align: center;
  vertical-align: middle;
}

.remember_me
{
  margin: 0px auto;
  height: 25px;
  width: 110px;

}
#user_remember_me, .remember_me label
{
  float:left;
}

.actions
{
  clear:both;
  text-align: center;
}

.actions input
{
  padding: 5px;
  border-radius: 4px;
}

#user_email, #user_password, #user_password_confirmation, #user_current_password
{
  border-radius: 5px;
  line-height: 20px;

}

.login_form a, .field
{
  text-align: center;
  margin: 0px auto;
}

.shared_links_devise
{
  margin: 0px auto;
  text-align: center;
}

.search_bar
{
  clear:both;
  position: relative;
  width: 200px;
  float:right;
  align-self: auto;
  bottom: 10px;
}


.search_bar input
{
  border-radius: 4px;
}

#btnsearch
{
  border-radius: 6px 0px 6px 0px;
}

#btnsearch:hover
{
  box-shadow: 2px 3px rgba(10, 10, 10, 0.493);
}
