// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#categories
{
  color: black;
  padding:10px;
  min-width: 400px;
}
#category_partial
{
  margin: 10px;
  width: 230px;
  padding: 20px 10px;
  height: 275px;
  border: 1px rgba(64, 91, 241, 0.466) solid;
  border-radius: 95% 95% 80% 80%;

  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%,
   rgba(41,137,216,1) 46%,
   rgba(32,124,202,1) 68%,
   rgba(32,124,202,1) 71%,
   rgba(125,185,232,1) 100%);

   float: left;
}

#category_partial:hover
{
  box-shadow: 5px 5px rgba(64, 91, 241, 0.295);
}

#category_content
{
  margin: 0px auto;
  width: 150px;
  height: 280px;
  position: relative;
}

#category_image
{
  height: 75%;
  width: 100%;
  position: relative;
}

#category_image img
{
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(1, 1, 1, 0.233);
}

#category_name
{
  background-color: rgba(1, 1, 1, 0.233);
  height: 50px;
  border-radius:25px 25px 50px 50px;
  vertical-align: middle;
  padding: 5px;
  position: relative;
  text-align: center;
}
#name
{
  margin: 0px auto;
  padding: 4px;
}

#new
{
  clear:both;
}