<div id='category_partial'>
  <div id="category_content">

    <div id="category_image">
      <%= image_tag (category.image) %>
    </div>

    <div id='category_name'>
      <p id='name'>
        <%= link_to category.name, category %>
      </p>
    </div>
  </div>
</div>