<h1>Categories</h1>
<br>
<div class="categories">
    <% @categories.each do |category| %>
        <%= render partial: 'categories/category',
        locals: {category: category} %>
    <% end %>

</div>