<div class="show">

  <%= render partial: 'categories/category',
  locals: {category: @category} %>
  <div class="other_info">
    <p>
      <strong>Description:</strong>
      <%= @category.description %>
    </p>

    <%= link_to "Search All #{@category.name} Games", products_path(category:@category.id) %> |
    <%= link_to 'Back', categories_path %>
  </div>
</div>
