<div class="product_partial">

  <div id="product_image">
    <%= image_tag (@product.image) %>
  </div>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

</div>
