<div class="product_partial">
  <div id="product_content">

    <div id="product_image">
      <% if product.image.attached?%>
        <%= image_tag (product.image) %>
      <% end%>
    </div>

    <div id='price_name'>
      <p id='name'>
        <%= link_to product.name, product %>
      </p>

      <p id='price'>
        $<%= product.price %>
      </p>
    </div>
  </div>

  <div id="image_overlay">
    <%= image_tag ('Dragon_Overlay') %>
  </div>
</div>
