<p id="notice"><%= notice %></p>

<h1>Games</h1>

<br />
<div id="products">
    <% @products.each do |product| %>
        <%= render partial: 'products/product',
        locals: {product: product} %>
        <div id="product_options">
        </div>
    <% end %>

</div>
<br>
<div id='new'>
  <%= link_to 'New Product', new_product_path %>
</div>
